<div class="container">
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Vacancy</h2>
                </div>
                <div class="col-md-6">
                    <ul class="page-depth">
                        <li><a href="index.html">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- news-section
            ================================================== -->
    <section class="news-section">
        <div class="row">
            <div class="col-md-2">
                <div class="side-navigation">
                    <div style="margin-bottom:15px;">
                        <figure class="position-static">
                            <figure>
                                <img src="assets/images/public/images/ad-5.jpg" alt="" width="100%">
                            </figure>
                        </figure>
                    </div>
                    <hr>
                    <div style="margin-bottom:15px;">
                        <figure class="position-static">
                            <figure>
                                <img src="assets/images/public/images/ad-5.jpg" alt="" width="100%">
                            </figure>
                        </figure>
                    </div>
                    <hr>
                    <div style="margin-bottom:15px;">
                        <figure class="position-static">
                            <figure>
                                <img src="assets/images/public/images/ad-5.jpg" alt="" width="100%">
                            </figure>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 panel panel-default panel-default-main">
                <div class="row card">
                    <form>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" type="text" name="search_keywords" ng-model="vm.search" ng-change="vm.getVacancies()"
                                       placeholder="Search vacancies..."/>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select class="form-control" ng-model="vm.field">
                                    <option value="">All Fields</option>
                                    <option ng-repeat="title in vm.filteredVacancy"
                                            value={{title.id}} label={{title.category}}></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select class="form-control" ng-model="vm.location">
                                    <option value="">All Locations</option>
                                    <option ng-repeat="location in vm.coreService.locations" value={{location}}
                                            label={{location}}/>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group text-center">
                                <button class="form-control btn-orange" type="button" ng-click="vm.getVacancies()"><i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
                <ul id="vacancy-list" class="list-unstyled">
                    <!--VacancyLists-->
                    <li dir-paginate="vacancy in vm.vacancies | itemsPerPage: vm.itemsPerPage"
                        total-items="vm.totalItems"
                        current-page="vm.currentPage" class="row news-post bootplus-card">
                        <div class="col-lg-2 text-center">
                            <img class="logo" src="{{ vacancy.image }}" alt="" width="90"
                                 height="90">
                        </div>

                        <div class="col-lg-4">
                            <h2 class="list-title"><a href="" ng-click="vm.showDetail(vacancy.id, 'vacancy')">{{vacancy.title}}</a>
                            </h2>

                            <div class="list-icons location">
                                <i class="fa fa-map-marker"></i> <span>{{vacancy.work_place}}</span>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            Vacancy Category: <strong>{{vacancy.category}}</strong>
                        </div>
                        <div class="col-lg-3">
                            <ul class="list-unstyled">
                                <li>Posted Date: <strong>{{vacancy.posted_date | date:'mediumDate' }}</strong></li>
                                <li>Closing Date: <strong>{{vacancy.closing_date | date:'mediumDate' }}</strong></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="pagination pagination-separated pagination-rounded text-center">
                    <dir-pagination-controls on-page-change="vm.getVacancies()"></dir-pagination-controls>
                </ul>
            </div>
            <div class="col-md-2">
                <div class="side-navigation">

                    <div style="margin-bottom:15px;">
                        <div ng-if="!currentUser" class="row">
                            <form class="panel panel-default" role="form" name="loginForm" novalidate>
                                <h2 class="panel-heading">Login</h2>
                                <small class="display-block  alert-danger">{{loginError}}</small>
                                <img class="col-md-offset-4" ng-show="authenticating" height="80px"
                                     src="assets/images/loading.png"/>

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"
                                                 ng-class="{ 'has-error': (loginForm.company.$touched || loginForm.$submitted) && loginForm.company.$invalid || loginError != ''}">
                                                <label>Email</label>
                                                <input required name="company" class="form-control" type="email"
                                                       placeholder="Enter your email here"
                                                       ng-model="email">

                                                <div class="form_error" ng-messages="loginForm.company.$error"
                                                     ng-if="loginForm.company.$touched || loginForm.$submitted || loginError != ''"
                                                     role="alert">
                                                    <p ng-message="required">Name cannot be empty!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"
                                                 ng-class="{ 'has-error': (loginForm.password.$touched || loginForm.$submitted) && loginForm.password.$invalid || loginError != ''}">
                                                <label>Password</label>
                                                <input required name="password" class="form-control" type="password"
                                                       placeholder=""
                                                       ng-model="password">

                                                <div class="form_error" ng-messages="loginForm.password.$error"
                                                     ng-if="loginForm.password.$touched || loginForm.$submitted || loginError != ''"
                                                     role="alert">
                                                    <p ng-message="required">Password cannot be empty!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="col-md-12 btn btn-default pull-right" value="Login"
                                           ng-click="singIn(loginForm.$valid, email, password)"/>

                                    <p style="margin-top: 10px">If You don't have an Account,</p>

                                    <a ui-sref="main.public.pricing"><i class="fa fa-user"></i>&nbsp;&nbsp;Sign Up</a>

                                </div>
                            </form>
                        </div>
                        <figure ng-if="currentUser" class="position-static">
                            <figure>
                                <img src="assets/images/public/images/ad-5.jpg" alt="" width="100%">
                            </figure>
                        </figure>
                    </div>
                    <hr>
                    <div style="margin-bottom:15px;">
                        <figure class="position-static">
                            <figure>
                                <img src="assets/images/public/images/ad-5.jpg" alt="" width="100%">
                            </figure>
                        </figure>
                    </div>
                    <hr>
                    <div style="margin-bottom:15px;">
                        <figure class="position-static">
                            <figure>
                                <img src="assets/images/public/images/ad-5.jpg" alt="" width="100%">
                            </figure>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End news section -->
</div>