<section class="contact-section padding-top">
    <div class="container-fluid">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="row bootplus-card">
                <div class="alert alert-danger fade in" ng-class="{ 'display-hidden': vm.registrationError == ''}">
                    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Registration Error!</strong> {{ vm.registrationError }}
                </div>
                <form id="passwordResetForm" class="register-form" name="passwordResetForm" role="form" novalidate>

                        <h1 class="text-center">Reset Password <span style="font-size:16px;color:#ffba00"></span></h1>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error': passwordResetForm.email.$touched  && passwordResetForm.email.$invalid }">
                                <label>User Name</label>
                                <input name="email" type="email" placeholder="Email" required ng-model="currentUser.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" class="form-control"/>
                                <div class="form_error" ng-messages="passwordResetForm.email.$error" ng-if="passwordResetForm.email.$touched" role="alert" >
                                    <p ng-message="required">Username cannot be empty!</p>
                                    <p ng-message="pattern">Please enter a valid email address!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error': passwordResetForm.oldPassword.$touched && passwordResetForm.oldPassword.$invalid }">
                                <label>Old Password</label>
                                <input type="password" id="oldPassword" name="oldPassword" placeholder="" required class="form-control" ng-model="vm.oldPassword">
                                <div class="form_error" ng-messages="passwordResetForm.oldPassword.$error" ng-if="passwordResetForm.oldPassword.$touched" role="alert" >
                                    <p ng-message="required">Old Password cannot be empty!</p>
                                    <p ng-message="ngMinlength">Password must be at least 6 characters</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error': passwordResetForm.newPassword.$touched && passwordResetForm.newPassword.$invalid }">
                                <label>New Password</label>
                                <input type="password" id="newPassword" name="newPassword" class="form-control" required placeholder="New Password" ng-model="vm.newPassword">
                                <div class="form_error" ng-messages="passwordResetForm.newPassword.$error" ng-if="passwordResetForm.newPassword.$touched" role="alert" >
                                    <p ng-message="required">Please Enter New your password!</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error': passwordResetForm.newPasswordConfirm.$touched && passwordResetForm.newPasswordConfirm.$invalid }">
                                <label>Confirm New Password</label>
                                <input type="password" id="newPasswordConfirm" name="newPasswordConfirm" class="form-control" required placeholder="New Password" ng-pattern="vm.newPassword" ng-model="vm.newPasswordConfirm">
                                <div class="form_error" ng-messages="passwordResetForm.newPasswordConfirm.$error" ng-if="passwordResetForm.newPasswordConfirm.$touched" role="alert" >
                                    <p ng-message="required">Please Enter New your password!</p>
                                    <p ng-message="pattern">The New Passwords Don't Match!</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <input type="button" style="margin:10px;" ng-disabled = "passwordResetForm.$invalid" class="btn main-color pull-right" value="Reset Password" ng-click="vm.resetPassword()" />
                </form>
            </div>

        </div>
    </div>
</section>