<!-- Segmented button -->
<div class="panel border-orange">
    <div class="panel-heading bg-orange-700">
        <h6 class="panel-title">Password Reset </h6>

    </div>


    <div class="panel-body">
        <form class="form-horizontal" name="passwordResetForm" ng-submit="vm.resetPassword()">
            <div class="form-group"
                 ng-class="{ 'has-error': passwordResetForm.email.$touched  && passwordResetForm.email.$invalid }">
                <label class="control-label">Username</label>

                <div class="col-lg-6 input-group">
                    <input class="form-control" type="text" name="email" required="true"
                           ng-model="vm.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                    <div class="help-block" ng-messages="passwordResetForm.email.$error" ng-if="passwordResetForm.email.$touched" role="alert" >
                        <p ng-message="required">Username cannot be empty!</p>
                        <p ng-message="pattern">Please enter a valid email address!</p>
                    </div>
                </div>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': passwordResetForm.oldPassword.$touched  && passwordResetForm.oldPassword.$invalid }">
                <label class="control-label">Old Password</label>

                <div class="col-lg-6 input-group">
                    <input class="form-control" type="password" name="oldPassword" required="true" ng-model="vm.oldPassword">
                </div>
                <div class="help-block" ng-messages="passwordResetForm.oldPassword.$error" ng-if="passwordResetForm.oldPassword.$touched" role="alert" >
                    <p ng-message="required">Old Password is Required !</p>
                </div>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': passwordResetForm.newPassword.$touched  && passwordResetForm.newPassword.$invalid }">
                <label class="control-label">New Password</label>

                <div class="col-lg-6 input-group">
                    <input class="form-control" type="password" name="newPassword" required="true" ng-model="vm.newPassword">
                </div>
                <div class="help-block" ng-messages="passwordResetForm.newPassword.$error" ng-if="passwordResetForm.newPassword.$touched" role="alert" >
                    <p ng-message="required">Please, Enter the new password !</p>
                </div>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': passwordResetForm.confirmPassword.$touched  && passwordResetForm.confirmPassword.$invalid }">
                <label class="control-label">Confirm New Password</label>

                <div class="col-lg-6 input-group">
                    <input class="form-control" type="password" name="confirmPassword" required  ng-pattern="vm.newPassword" ng-model="vm.confirmPassword">
                </div>
                <div class="help-block" ng-messages="passwordResetForm.confirmPassword.$error" ng-if="passwordResetForm.confirmPassword.$touched" role="alert" >
                    <p ng-message="required">Please, Confirm Your Password !</p>
                    <p ng-message="pattern">Passwords doesn't match !</p>
                </div>
            </div>


            <div class="form-group pull-right">
                <button ng-disabled = "passwordResetForm.$invalid" type="submit" class="btn btn-orange">Reset Password</button>
            </div>
        </form>
    </div>

</div>
