<div class="panel panel-default panel-default-main">
    <form id="contact-form" ng-submit="vm.createVacancy(vacancyCreateForm.$valid)" name="vacancyCreateForm">
        <h2 class="sidebar-label">Vacancy Form</h2>

        <div class="alert alert-success fade in" ng-class="{ 'display-hidden': vm.updateSuccess == ''}">
            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{ vm.updateSuccess }}
        </div>

        <div class="product-form">
            <div class="row">
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': vacancyCreateForm.job_title.$touched && vacancyCreateForm.job_title.$invalid}">
                    <label>Job Title *</label>
                    <input class="form-control" required type="text" class="" name="job_title"
                           ng-model="vm.vacancy.title"/>

                    <div class="form_error" ng-messages="vacancyCreateForm.job_title.$error"
                         ng-if="vacancyCreateForm.job_title.$touched" role="alert">
                        <p ng-message="required">Job Title is required.</p>
                    </div>
                </div>
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': vacancyCreateForm.work_place.$touched && vacancyCreateForm.work_place.$invalid}">
                    <label>Work Place</label>
                    <input required class="form-control" type="text" name="work_place"
                           ng-model="vm.vacancy.work_place"/>

                    <div class="form_error" ng-messages="vacancyCreateForm.work_place.$error"
                         ng-if="vacancyCreateForm.work_place.$touched" role="alert">
                        <p ng-message="required">Job Title is required.</p>
                    </div>
                </div>
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': vacancyCreateForm.category.$touched && vacancyCreateForm.category.$invalid}">
                    <label>Category</label>
                    <select class="form-control" name="category" required ng-model="vm.vacancy.category">
                        <option ng-repeat=" categories in vm.coreService.vacancyCategories" value={{categories}}>
                            {{categories}}
                        </option>
                    </select>

                    <div class="form_error" ng-messages="vacancyCreateForm.category.$error"
                         ng-if="vacancyCreateForm.category.$touched" role="alert">
                        <p ng-message="required">Job Title is required.</p>
                    </div>
                </div>
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': vacancyCreateForm.education_level.$touched && vacancyCreateForm.education_level.$invalid}">
                    <label>Education Level</label>
                    <select class="form-control" name="education_level" required ng-model="vm.vacancy.education_level">
                        <option ng-repeat="level in vm.coreService.professionalsEducation" value="{{ level }}">
                            {{ level }}
                        </option>
                    </select>

                    <div class="form_error" ng-messages="vacancyCreateForm.education_level.$error"
                         ng-if="vacancyCreateForm.education_level.$touched" role="alert">
                        <p ng-message="required">Job Title is required.</p>
                    </div>
                </div>
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': vacancyCreateForm.experience.$touched && vacancyCreateForm.experience.$invalid}">
                    <label>Experience</label>
                    <select class="form-control" name="experience" required ng-model="vm.vacancy.experience">
                        <option ng-repeat="experiene in vm.coreService.professionalsExperience" value="{{ experiene }}">
                            {{ experiene }}
                        </option>
                    </select>

                    <div class="form_error" ng-messages="vacancyCreateForm.experience.$error"
                         ng-if="vacancyCreateForm.experience.$touched" role="alert">
                        <p ng-message="required">Job Title is required.</p>
                    </div>
                </div>
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': vacancyCreateForm.salary.$touched && vacancyCreateForm.salary.$invalid}">
                    <label>Salary</label>

                    <div class="checkbox">
                        <label>
                            <input ng-click="vm.salarySet()" ng-model="vm.salary"
                                   ng-true-value="'Negotiable'" ng-false-value="'figure'" type="checkbox">Negotiable
                        </label>
                    </div>
                    <div class="input-group">

                        <span class="input-group-addon" id="basic-addon1">ETB.</span>
                        <input ng-disabled="vm.salaryDisable" type="text" class="form-control"
                               placeholder="Salary In ETB."
                               aria-describedby="basic-addon1"
                               type="number" name="salary" ng-model="vm.vacancy.salary">
                    </div>

                    <div class="form_error" ng-messages="vacancyCreateForm.salary.$error"
                         ng-if="vacancyCreateForm.salary.$touched" role="alert">
                        <p ng-message="required">Job Title is required.</p>
                    </div>
                </div>
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': vacancyCreateForm.closing_date.$touched && vacancyCreateForm.closing_date.$invalid}">
                    <label>Closing Date</label>
                    <input class="form-control" required type="date" name="closing_date"
                           ng-model="vm.vacancy.closing_date"/>

                    <div class="form_error" ng-messages="vacancyCreateForm.closing_date.$error"
                         ng-if="vacancyCreateForm.closing_date.$touched" role="alert">
                        <p ng-message="required">Job Title is required.</p>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Description</label>
                        <text-angular required ng-model="vm.vacancy.description" name="description"></text-angular>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="submit" class="pull-right" value="{{ vm.vacancy_label }}"
                           ng-disabled="vacancyCreateForm.$invalid"/>
                </div>

            </div>

        </div>

    </form>
</div>
